/*
font-family: 'Indie Flower', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Baloo Chettan', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Days One', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Josefin Slab', serif;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	/*background: green;*/
}

/*ETIQUETAS*/
body{
/*	background-image: url(../img/fondo.jpg); */
/*	background-color: rgba(20, 75, 20, 0.5); */
	background-color: rgba(149, 149, 149, 0.2);
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	font-family: 'Days One', sans-serif;
	color: #151515;
	margin-left: 10px;
	font-size: 40px;
	text-align: center;
}

h2{
	font-family: 'Oswald', sans-serif;
	color: rgb(60, 60, 60);
	margin-left: 10px;
	font-size: 20px;
	text-align: left;
}

h3{
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	margin-left: 10px;
	font-size: 18px;
	text-align: center;
}

header{
/*	width: 1000px; */
	height: 150px;
	margin: 5px 0px 10px 0px;
	border-radius: 7px 7px 0px 0px;
	background: rgba(255, 255, 255, 0.5);
}

nav{
	width: 1000px;
	height: 50px;
	background: #F2B80D; 
}

ul{
	margin: auto;
	padding-top: 4px;
}

li{
	float: left;
/*	list-style-type: none; */
	padding: 10px;
/*	background: rgba(30, 50, 180, 0.5); */
	margin: 3px;
	border-radius: 7px;
	box-shadow: 0 0 10px white inset;
	list-style: none;
}

section{
	width: 695px;
	background: white;
	height: 700px;
	float: left;
	margin-top: 5px;
	border-radius: 0px 0px 0px 7px;
}
aside{
	width: 300px;
/*	background: #006600; */
	background-color: rgba(0, 102, 0, 0.7);
	height: 700px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	border-radius: 0px 0px 7px 0px;
}

footer{
	width: 1000px;
/*	height: 150px; */
	background: black;
	float: left;
	margin-top: 5px;
	border-radius: 10px;
	margin-bottom: 20px;
}

p{
	font-size: 12px;
	line-height: 20px;
	padding: 10px;
	text-align: justify;
}


/*CLASES*/

.xection{
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 7px;
	width: 1000px;
	margin: 5px 0px 0px 0px;
	padding: 10px 0px 10px 0px;
	float: left;
}

.foto_link{
	color: rgb(150, 150, 150);
	font-size: 16px;
	text-decoration: none;
}


.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

/*
.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white; text-decoration: none;}
.menu:hover{color: white; text-decoration: none; text-shadow: 0 0 10px white;}
.menu:active{color: white; text-decoration: none;}
*/

.boton_nav:link{color: blue; text-decoration: none; list-style-type: none;}
.boton_nav:visited{color: white; text-decoration: none; list-style-type: none;}
.boton_nav:hover{color: white; text-decoration: none; text-shadow: 0 0 10px white; list-style-type: none;}
.boton_nav:active{color: white; text-decoration: none; list-style-type: none;}

.boton_as:link{color: orange; text-decoration: none; list-style-position: inside;}
.boton_as:visited{color: orange; text-decoration: none;}
.boton_as:hover{color: orange; text-decoration: none; text-shadow: 0 0 10px white;}
.boton_as:active{color: orange; text-decoration: none;}

/*SEUDO CLASES*/

